{%extends "index.html" %}

{% block title %}Текст в изображение{% endblock %}
{% block content %}
<h1>Задать текст для изображения:</h1>
    {% for message in get_flashed_messages() %}
	<p>{{ message }}</p>
    {% endfor %}
<form method=post enctype=multipart/form-data>
    {{ form.csrf_token }}
	<p>{{ form.text(placeholder="Текст на изображении") }}
        <input type=submit value="Получить изображение"></p>
        <h2></h2>
        <h2>Настройки изображения:</h2>
        <p>Цвет фона:
            {{ form.background_color() }}</p>
        <p>Цвет текста:
            {{ form.text_color() }}</p>
        <p>Размер шрифта:
            {{ form.text_size(placeholder=14) }}
        </p>
        <p>Размер изображения:
            {{ form.image_size() }}
        </p>
        <p>Расположение текста:
            {{ form.position() }}
        </p>
    </form>
{% endblock %}